/* Estilo para las secciones de videos */
.tab-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3cm; /* Cambiado de 4cm a 3cm */
    margin-top: 20px;
}

/* Estilo para los videos dentro de las secciones */
.video-container {
    width: 7cm;
    height: 14cm;
    background-color: white;
    padding: 0.5cm;
    border: 1px solid #ffb7c2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 3cm; /* Reducido el espacio entre los videos */
    text-align: center;
}

.video-container video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.video-container h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}


